@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  margin: 0 2em 0 2em;

  @include tablet {
    margin: 2em 4em 2em 4em;
  }
  @include desktop {
    margin: 0 8em 0 8em;
  }

  font-size: 1.5rem;
}
