@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  margin: 0 2em 0 2em;

  @include tablet {
    margin: 0 4em 0 4em;
  }
  @include desktop {
    margin: 0 8em 0 8em;
  }

  &Alert {
    color: $alert-text-colour;
    font-weight: 700;
    line-height: 1.25rem;
    justify-items: center;
    padding-top: 0.75em;
    text-decoration: underline;
  }
}

.start {
  padding-top: 1.5em;
  justify-content: right;
  display: flex;
  padding-bottom: 1.5rem;

  &Button {
    @include button;
    border: #01e3b0;
    background-color: #01e3b0;
  }
}

.htwo {
  padding-top: 0.5em;
}
