@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  margin: 0 2em 0 2em;

  &Alert {
    color: $alert-text-colour;
    font-weight: 700;
    line-height: 1.25rem;
    justify-items: center;
    padding-top: 0.75em;
    text-decoration: underline;
  }
}
