@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  margin: 0 2em 0 2em;
  display: flex;
  justify-content: center;
  @include tablet {
    margin: 0 4em 0 4em;
  }
  @include desktop {
    margin: 0 8em 0 8em;
  }
}

.image {
  width: 200%;
  background-image: url('../../assets/images/TabletHero.jpg');
  justify-content: center;
  display: flex;

  @include tablet {
    width: 150%;
  }

  @include desktop {
    width: 55%;
  }
}
