* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, 'Segoe UI', Tahoma, Verdana;
  color: rgb(52, 52, 52);
  background-color: #cad6ec;
}

ol,
li {
  list-style-type: circle;
  list-style: inside;
}

h2 {
  padding: 1.5rem 0 0.75rem 0;
}
h3 {
  padding: 1rem 0 0.25rem 0;
}

a {
  text-decoration: none;
  color: rgb(52, 52, 52);
}

a:hover {
  color: whitesmoke;
  text-decoration: none;
}
