@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  margin: 0 2em 0 2em;
  justify-content: right;
  display: flex;
}
.button {
  @include button;
  border: lightgreen;
  background-color: lightgreen;
}
