@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  margin: 1em 2em 1em 2em;

  @include tablet {
    margin: 2em 4em 2em 4em;
  }
  @include desktop {
    margin: 2em 8em 2em 8em;
  }
}

.home {
  @include button;
  border: #386dff;
  background-color: #386dff;
  cursor: grab;
}
