@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  margin: 1em 2em 1em 2em;
}

.home {
  @include button;
  border: #386dff;
  background-color: #386dff;
  cursor: grab;
}
