@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  margin: 0 2em 0 2em;
  display: flex;
  justify-content: space-between;

  @include tablet {
    margin: 2em 4em 2em 4em;
  }
  @include desktop {
    margin: 0 8em 0 8em;
  }
}

.back {
  padding-top: 2em;
  &Button {
    @include button;
    border: #f2ac86;
    background-color: #f2ac86;
    cursor: grab;
  }
}
.next {
  padding-top: 2em;
  &Button {
    @include button;
    border: #01e3b0;
    background-color: #01e3b0;
    cursor: grab;
  }
}
