@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  margin: 0 2em 0 2em;
}

.next {
  padding-top: 2em;
  &Button {
    border: lightgreen solid 1px;
    border-radius: 10px;
    padding: 0.5em 0.5em;
    background-color: lightgreen;
  }
}
