@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  margin: 0 2em 0 2em;
}

.back {
  padding-top: 2em;
  &Button {
    @include button;
    border: lightsalmon;
    background-color: lightsalmon;
  }
}

.next {
  padding-top: 2em;
  &Button {
    @include button;
    border: lightgreen;
    background-color: lightgreen;
  }
}
