@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.container {
  margin: 0 2em 0 2em;

  &Buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em;
  }
}
